.textlgn {
  text-align: center;
}

.formLgnemail {
  padding-bottom: 5px;
}

.formLgnpass {
  padding-bottom: 30px;
}

.divLgn {
  padding: 0px;
}

.btnentrar {
  color: #eaedf2;
  border-color: green;
  background-color: transparent;
  padding-top: 5px;
  border-width: 2px;
}

.btnentrar:hover {
  border-color: green;
  background-color: green;
  color: #eaedf2;
}

.registrar {
  color: #eaedf2;
  border-color: green;
  background-color: transparent;
  padding-top: 5px;
  border-width: 2px;
  /*margin-top: 20px;*/
}

.registrar:hover {
  border-color: green;
  background-color: green;
  color: #eaedf2;
}

.fb {
  background-color: transparent;
  border-width: 2px;
}

.sideLgn {
  background-color: #1D1D1B;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-size: 14px;
}

.sideLgn a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #eaedf2;
  display: block;
  transition: 0.3s;
}

.sideLgn a:hover, .offcanvas a:focus{
  color: #233a60;
}

.sideLgn .closebtnLgn {
  position: absolute;
  top: -15;
  right: 2px;
  font-size: 36px;
  margin-left: 2px;
}

.voltar {
  margin-left: -25px;
}

#sidenavLgn {
  /*transition: margin-left 3s;*/
  /*padding: 16px;*/
}

@media screen and (max-height: 450px) {
  .sideLgn {padding-top: 15px;}
  .sideLgn a {font-size: 18px;}
}
