body, html {
  height: 100%;
  background-color: #1D1D1B;
  font-family: 'Nunito', sans-serif;
  color: #eaedf2;
}

.worldmap {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

/*classe para legenda no html legend="legend"*/
/*.legend {
padding: 6px 8px;
font: 14px/16px Arial, Helvetica, sans-serif;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
background: rgba(255, 255, 255, 0.9);
border-radius: 5px;
font-weight: bold;
line-height: 18px;
color: #555;
width: 100px;
}*/

/*.legend i {
clear: both;
width: 16px;
height: 16px;
float: left;
opacity: 0.7;
margin-right: 8px;
}*/

/*div.worldmap.box {
position: absolute;
top: 1em;
right: 1em;
z-index: 100;
padding: 1em;
text-align: center;
}*/

div.worldmap.country {
  opacity: 1;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  right: 4px;
  z-index: 1;
  padding: .2em .5em;
  line-height: 1.1em;
  text-align: center;
}

div.worldmap.country.f32 {
  opacity: 1;
  color: black;
  font-size: 18px;
}

.f32 .flag {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: text-top;
    line-height: 32px;
    background: url(flags32.png) no-repeat;
}

.angular-leaflet-map {
  height: 100%;
  background: #233a60 ;
  /*background: -webkit-linear-gradient(to right, #26D0CE , #1A2980 );
  background: linear-gradient(to right, #26D0CE , #1A2980 );*/
  border: none;
  z-index: 0;
}

.coluna-esquerda{
  background-color: #1D1D1B;
  /*width: 250px;*/
  padding: 0px;
  margin-top: 35px;

}

.logo {
  width: 100%;
}

.coluna-esquerda h1 {
  text-align: center;
  color: #eaedf2;
}

.welcome {
  margin-top: 35px;
  margin-bottom: -30px;
}

.btns {
  margin-top: 35px;
}

.selecionar {
  margin-bottom: 20px;
  text-align: center;
}

.buttons {
  width: 100%;
  background-color: #1D1D1B;
  border: none;
  border-top: 1px solid #eaedf2;
  color: #eaedf2;
  border-radius: 0px;

}

.form-group{
  margin-bottom: 0px;
}

.divFav {
  margin-top: 25px;
}

.input {
  color: #eaedf2;
  margin-left: 5px;
  position: top;

}

#atras {
  margin-top: 25px;
  margin-left: 5px;
  width: 10px;
  height: 20px;
}

#atras:hover {
  margin-top: 25px;
  margin-left: 5px;
  width: 10px;
  height: 20px;
  background-image: url(./img/seta-azul.png);
  cursor: pointer;
}

#atrasMapa{
  width: 10px;
  height: 40px;
  text-align: left;
  margin: 5px;
}

#atrasMapa:hover {
  width: 10px;
  height: 40px;
  /*background-image: url(./img/seta-azul.png);*/
  cursor: pointer;
}

select {
  width: 100%;
}

button.jornal.button-G1{
  background-color: #a3101a;
}

button.jornal.button-la_vanguardia{
  background-color: #1b2f6d;
}

.jornal.button-la_vanguardia img{
  height: 47px;
}

.jornal.button-wallstreet img{
  height: 42px;
}

.jornal.button-the_age img{
  height: 47px;
}

.jornal.button-the_sydney_morning_herald img{
  height: 46px;
}

.jornal.button-corriere_della_sera img{
  height: 44px;
}

button.jornal.button-O.Tempo{
  background-color: #1b4623;
}

button.jornal.button-O.Globo{
  background-color: #05509a;
}

button.jornal.button-la_voz{
  background-color: #05509a;
}

button.jornal.button-national_post{
  background-color: #fed458;
}

button.jornal.button-metro_news_canada{
  background-color: #04803f;
}

button.jornal.button-toronto_star{
  background-color: #236eb5;
}

.jornal.button-toronto_star img{
  height: 47px;
}

button.jornal.button-figaro{
  background-color: #2970B7;
}

button.jornal.button-le_parisien{
  background-color: #379AD5;
}

button.jornal.button-lexpress{
  background-color: #E51B29;
}

button.jornal.button-ilsole24ore{
  background-color: #FDE1C9;
}

button.jornal.button-reforma{
  background-color: #238135;
}

.item-noticias {
  padding: 0px;
  width: 100%;
}

.feed {
  padding: 0px;
  /*width: 100%;*/
  color: black;
}

#noticia-title {
  width: 100%;
  background-color: white;
  font-size: 14px;
  color: black;
  padding: 0px;
}

.noticia-desc {
  width: 100%;
  background-color: white;
  font-size: 12px;
  margin-top: 1px;
}

iframe {
  width: 100%;
  height: 300px;
}

.news {
  text-align: left;
}
